<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPLAINT</title>
</head>
<body>
    <table border="4">
        <tr>
            <td>Date</td>
            <td>complaint</td>
            <td>Guardian_name</td>
            <td>Replay</td>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.date }}</td>
            <td>{{ i.complaint }}</td>
            <td>{{ i.guardianid.name }}</td>
            <td><form method="post" action="/sendreply/{{i.id}}/">
                {% csrf_token %}
                <input type="text" name="reply">
                <input type="submit">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>    
</body>
</html>