<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPLAINT</title>
</head>
<body>
    <table border="4">
        <tr>
            <td>Date</td>
            <td>guardian_name</td>
            <td>feedback</td>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.date }}</td>
            <td>{{ i.guardianid.name }}</td>
            <td>{{ i.feedback }}</td>
        </tr>
        {% endfor %}
    </table>    
</body>
</html>